<br><br>

<h1>SHREDule</h1>

<h2>Log-In</h2>
<%= form_tag "/sessions" do %><br>
  <label>Username</label><br>
  <%= text_field_tag :'user[username]' %><br>

  <label>Password</label><br>
  <%= password_field_tag :'user[password]' %>

  <h5><%= @error %></h5><br>


  <%= submit_tag "Log-In" %><br><br>
<% end %>
<%= link_to('Log in with Google', '/auth/google_oauth2', method: :post) %>