
<h4 style="padding-left: 10%; padding-bottom: 2%;">Create an Account</h4>


<%= form_for @user, html: {class: "validate", type:"text"} do |f| %>
  <div class="row" style="padding-left: 10%; padding-right: 10%;">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s6", style="margin-top: 40px;">
            <i class="material-icons prefix", style="margin-top: -20px;">account_circle</i>
            <%# <input id="first_name" type="text" class="validate"> %>
            <label class="active" for="icon_prefix"><%= f.text_field :name, placeholder: "your name" %></label>
          </div>
          <%# <div class="input-field col s6">
            <i class="material-icons prefix">account_circle</i>
            <input id="icon_prefix" type="text" class="validate">
            <label class="active" for="icon_prefix">Last Name</label>
          </div> %>
          <div class="input-field col s6", style="margin-top: 40px;">
            <i class="material-icons prefix", style="margin-top: -20px;">password</i>
            <%# <input id="icon_prefix" type="password" class="validate"> %>
            <label class="active" for="icon_prefix"><%= f.password_field :password, placeholder: "password" %></label>
            <i class="material-icons prefix", style="margin-top: -20px;">password</i>
          </div>
          <div class="input-field col s6", style="margin-top: 40px;">
            <i class="material-icons prefix", style="margin-top: -20px;">email</i>
            <%# <input id="icon_prefix" type="text" class="validate"> %>
            <label class="active" for="icon_prefix"><%= f.text_field :email, placeholder: "email" %></label>
          </div>
          <%# <div class="input-field col s6">
            <i class="material-icons prefix">password</i>
            <input id="icon_prefix" type="password" class="validate">
            <label class="active" for="icon_prefix">Confirm Password</label>
          </div> %>
        </div>
        <% if @user.errors.any? %>
          <% @user.errors.each do |e| %>
          <h5><%= e.full_message %></h5>
          <% end %>
        <% end %>
        <button class="btn waves-effect waves-light light-blue" type="submit" name="action", style="margin-top: 40px;">
          <%= f.submit "Submit" %>
          <i class="material-icons right">forward</i>
        </button>
      </form>
    </div>		
		
	<% end %>