<!DOCTYPE html>
<html>
  <head>
    <title>Shredule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <br><br>
      <% if session[:user_id] == nil %>
        <%= link_to 'Sign-Up', new_user_path %>
      <% else %>
        <%= link_to "Log Out", sessions_path, method:'delete' %> || 
        User - <%= current_user.name %>
        <img src="<%= current_user.image %>" class="profile_pic">
      <% end %>
    <%= yield %>
  </body>
</html>
